defaults/flow.json
[
    {
        "id": "5031dfce.f7c66",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bacc0887.bee178",
        "type": "cos-put",
        "z": "5031dfce.f7c66",
        "name": "",
        "bucket": "{!!BUCKETNAME!!}",
        "objectname": "",
        "mode": "0",
        "filepath": "/tmp/",
        "filename": "test",
        "contentType": "image/jpeg",
        "geturl": true,
        "cosconfig": "1aff12e9.44ed3d",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "b8b6ec59.61763"
            ]
        ]
    },
    {
        "id": "8d6e0972.209b68",
        "type": "template",
        "z": "5031dfce.f7c66",
        "name": "写真アップロード",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n<head><title>Watson Visual Recognition on IBMCloud Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition on IBMCloud Node-RED</h1>\n<h2>Select an image file</h2>\n<form  action=\"/imgpost\" method=\"post\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"imagedata\" accept=\"image/*\"  />\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "8de3e92e.495a58"
            ]
        ]
    },
    {
        "id": "c36cd95c.d1d608",
        "type": "http in",
        "z": "5031dfce.f7c66",
        "name": "[GET] /imgpost",
        "url": "/imgpost",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "8d6e0972.209b68"
            ]
        ]
    },
    {
        "id": "8de3e92e.495a58",
        "type": "http response",
        "z": "5031dfce.f7c66",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 539.5,
        "y": 40,
        "wires": []
    },
    {
        "id": "3e17371d.898448",
        "type": "httpInMultipart",
        "z": "5031dfce.f7c66",
        "name": "[multipart]/imgpost",
        "url": "/imgpost",
        "method": "post",
        "fields": "[ { \"name\": \"imagedata\"} ]",
        "swaggerDoc": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "4994c12a.c0419"
            ]
        ]
    },
    {
        "id": "4994c12a.c0419",
        "type": "function",
        "z": "5031dfce.f7c66",
        "name": "ファイルパスの変換",
        "func": "msg.filename = msg.req.files['imagedata'][0]['filename'];\nmsg.filepath = msg.req.files['imagedata'][0]['destination']+'/';\nmsg.geturl = Boolean(true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "bacc0887.bee178"
            ]
        ]
    },
    {
        "id": "b8b6ec59.61763",
        "type": "function",
        "z": "5031dfce.f7c66",
        "name": "Call WatsonVR",
        "func": "msg.payload=msg.url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "41cf67dd.9d9b28"
            ]
        ]
    },
    {
        "id": "41cf67dd.9d9b28",
        "type": "http request",
        "z": "5031dfce.f7c66",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "41f47ea0.9d9ef"
            ]
        ]
    },
    {
        "id": "22c16b1f.66cc84",
        "type": "function",
        "z": "5031dfce.f7c66",
        "name": "add header",
        "func": "msg.headers = {\"content-type\":\"text/html\"};\nmsg.payload =msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "dd173192.ef957"
            ]
        ]
    },
    {
        "id": "dd173192.ef957",
        "type": "template",
        "z": "5031dfce.f7c66",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Watson Visual Recognition on IBM Cloud Node-RED</h1>\n{{#result}}\n    {{#images}}\n        <div><img src=\"{{url}}\" height='300'/></div><br>\n    {{#faces}}\n        <br><b>年齢</b>\n        <table border='1'>\n            <thead>\n                <tr><th>Max</th><th>Min</th><th>Score</th></tr>\n            </thead>\n            <tbody>\n                {{#age}}\n                    <tr><td>{{max}}</td><td>{{min}}</td><td>{{score}}</td></tr>\n                {{/age}} \n            </tbody>\n        </table>\n        <br><b>性別</b>\n        <table border='1'>\n            <thead>\n                <tr><th>Gender</th><th>Score</th></tr>\n            </thead>\n            <tbody>\n                {{#gender}}\n                    <tr><td>{{gender}}</td><td>{{score}}</td></tr>\n                {{/gender}} \n            </tbody>\n        </table>\n        <br><b>該当者</b>\n        <table border='1'>\n            <thead>\n                <tr><th>Name</th><th>Score</th></tr>\n            </thead>\n            <tbody>\n                {{#identity}}\n                    <tr><td>{{name}}</td><td>{{score}}</td></tr>\n                {{/identity}} \n            </tbody>\n        </table>\n    {{/faces}}\n    {{/images}}    \n{{/result}}",
        "output": "str",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "52d566c.037f198",
                "ec553314.e013d"
            ]
        ]
    },
    {
        "id": "52d566c.037f198",
        "type": "http response",
        "z": "5031dfce.f7c66",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "41f47ea0.9d9ef",
        "type": "visual-recognition-v3",
        "z": "5031dfce.f7c66",
        "name": "",
        "apikey": "",
        "vr-service-endpoint": "https://gateway-a.watsonplatform.net/visual-recognition/api",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "22c16b1f.66cc84"
            ]
        ]
    },
    {
        "id": "ec553314.e013d",
        "type": "debug",
        "z": "5031dfce.f7c66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "1aff12e9.44ed3d",
        "type": "cos-config",
        "z": "",
        "apiKeyId": "{!!apikey!!}",
        "location": "us-geo",
        "ibmAuthEndpoint": "https://iam.ng.bluemix.net/oidc/token",
        "endpoint": "s3-api.us-geo.objectstorage.softlayer.net",
        "serviceInstanceId": "{!!iam_serviceid_crn->ServiceId-!!}",
        "hmac": true,
        "accesskeyid": "{!!cos_hmac_keys->access_key_id!!}",
        "accesskey": "{!!cos_hmac_keys->secret_access_key!!}",
        "name": "IBM Cloud Object Storage Settings"
    }
]